.swiper {
  width: 100%;
  height: 180px;
}

.swiperContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
}

.swiperList {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;
}

.swiperListNoneTransition {
  transition: none;
}
