:root {
  --extra-height: 1000px;
}

.myApp {
  width: 100%;
  min-height: calc(100vh + var(--extra-height));

  background-image: linear-gradient(221deg, #000000, #c49804);
}

.footer {
  height: 200px;
}
