.header {
  height: 55px;
  background: #ed1c2300;
}

.containerHeader {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cb1f1f;
}

.img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}
.imgName {
  width: 85px;
  height: 70px;
}

.clubName {
  color: white;
  padding-left: 8px;
  font-weight: bold;
}
