.containerBranches {
  background: rgb(26, 26, 26);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
  background-image: linear-gradient(221deg, #181818, #c49804);
}

.branches {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.titleBranches {
  font-size: 1.6em;
  color: #eeeeee;

  padding: 5px 0 0 13px;
  font-weight: 100;
}

.img {
  width: 90px;
  height: auto;
}

.delay1 {
  animation-delay: 0s;
}
.delay2 {
  animation-delay: 1.2s;
}
.delay3 {
  animation-delay: 2.4s;
}
.delay4 {
  animation-delay: 3.6s;
}
.delay5 {
  animation-delay: 4.8s;
}
